---
layout: docs.cn
title: 文档
---

.row.block-guides
  .large-12.columns
    %h1= 'API使用指南'
    %hr
    %h3#guides-basics.remove-border
      %small
        %i.fa.fa-book
        = '开发基础'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/guides/basics/concepts.html'}= "关键概念"
      %li
        %a{href: '/cn/docs/guides/basics/programming-model.html'}= "编程模型"
      %li
        %a{href: '/cn/docs/guides/basics/security.html'}= "安全机制"
    %h3#guides-data
      %small
        %i.fa.fa-book
        = '数据存取'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/guides/data/database.html'}= "数据库"
      %li
        %a{href: '/cn/docs/guides/data/datastream.html'}= "数据流"
      %li
        %a{href: '/cn/docs/guides/data/datapoint.html'}= "数据点"
.row.block-guides
  .large-12.columns
    %h1= 'API参考手册'
    %hr
    %h3#refs-auth.remove-border
      %small
        %i.fa.fa-book
        = '认证与授权'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/refs/basics/overview.html'}= "调用约定"
      %li
        %a{href: '/cn/docs/refs/basics/auth.html'}= "认证与权限控制"
    %h3#refs-data
      %small
        %i.fa.fa-book
        = '数据存取'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/refs/data/datastream.html'}= "数据流"
      %li
        %a{href: '/cn/docs/refs/data/datapoint.html'}= "数据点"
.row.block-guides
  .large-12.columns
    %h1= 'SDK'
    %hr
    %h3#libraries-official.remove-border
      %small
        %i.fa.fa-book
        = '官方'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/libraries/ruby.html'}= "Ruby"
    %h3#libraries-community
      %small
        %i.fa.fa-book
        = '社区'
    %ul.inline-list

- content_for :sidebar do
  %dl.accordion{:'data-accordion' => true}
    %dd
      %a{href: '#guides'}
        %i.fa.fa-plus-square
        = 'API使用指南'
      #guides.content
        %ul.side-nav
          %li
            %a{href: '/cn/docs/guides/basics/concepts.html'}= "开发基础"
          %li
            %a{href: '/cn/docs/guides/data/database.html'}= "数据存取"
    %dd
      %a{href: '#refs'}
        %i.fa.fa-plus-square
        = 'API参考手册'
      #refs.content
        %ul.side-nav
          %li
            %a{href: '/cn/docs/refs/basics/overview.html'}= "调用基础"
          %li
            %a{href: '/cn/docs/refs/data/datastream.html'}= "数据存取"
    %dd
      %a{href: '#libraries'}
        %i.fa.fa-plus-square
        = 'SDK'
      #libraries.content
        %ul.side-nav
          %li
            %a{href: '/cn/docs/libraries/index.html'}= "SDK"
