.page-title
  %h2= "工作流"
.main-content
  %ul.side-nav.boxed-nav
    %li
      %a{href: '#box1'} 总述
    %li.divider
    %li
      %a{href: '#box2'} 开发
    %li.divider
    %li
      %a{href: '#box3'} 发布
    %li.divider
    %li
      %a{href: '#box4'} 管理
  .workflow
    .section-box#box1
      %h3 总述
      %p
        从产品原型到可推向市场的产品仅需以下三个步骤：
        = image_tag('cn/wf-overview.png')
        %h5 开发
        通过Dotide可以轻松地让你的设备由于互联而变得更加智能。创建设备并通过Dotide实现设备和服务器的连接，你就可以轻松拥有一个可用于测试的产品原型；
        %h5 发布
        当你觉得你的产品原型已经可以用于推向市场，通过一键发布即可完成由原型到产品的过渡。发布之后将会创建一个以原型为模板的产品，并进入到管理阶段；
        %h5 管理
        通过Dotide可以实现所有对隶属于该产品的设备的实时管理。
    .section-box#box2
      %h3 开发
      %p
        开发过程可分为三个步骤：
        %h5 创建设备
        在开发主界面点击“创建设备”，填写设备名称和设备描述，选择将其“私有”或“公开”，就完成了创建设备的过程；
        %a.th.radius= image_tag('cn/wf-develop1.png')
        %h5 连接设备
        设备创建后将会自动生成唯一的设备序列号及API Key，设备序列号用于设备的识别，API Key用于授权用户的操作，在设备开发界面可以通过“添加通道”实现数据流的添加，同时可以编辑设备的位置及元数据；
        %a.th.radius= image_tag('cn/wf-develop2.png')
        %h5 完成测试
        连接设备后可以在界面上看到不同通道的数据更新，进行实时调试。
        %a.th.radius= image_tag('cn/wf-develop3.png')
    .section-box#box3
      %h3 发布
      %p
        点击“发布”，并输入产品名称及产品描述，同时选择将隶属于产品的设备“私有”或“公开”，就可以创建以该设备为模版的产品。创建产品成功后可以通过上传序列号的方式可以在产品下添加设备从而实现对多个同类设备的管理。
        %a.th.radius= image_tag('cn/wf-deploy.png')
    .section-box#box4
      %h3 管理
      %p
        管理界面可实现对所有隶属于该产品的设备的实时管理，同时可以通过“上传序列号”的方式实现对更多同类设备的管理
        %a.th.radius= image_tag('cn/wf-manage.png')
