---
layout: docs/guides.cn
section: guides
page: index
title: API使用指南
---

.row.block-guides
  .large-12.columns
    %h3= 'API使用指南'
    %h3#guides-basics
      %small
        %i.fa.fa-book
        = '开发基础'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/guides/basics/concepts.html'}= "关键概念"
      %li
        %a{href: '/cn/docs/guides/basics/programming-model.html'}= "编程模型"
      %li
        %a{href: '/cn/docs/guides/basics/security.html'}= "安全机制"
    %h3#guides-data
      %small
        %i.fa.fa-book
        = '数据存取'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/guides/data/database.html'}= "数据库"
      %li
        %a{href: '/cn/docs/guides/data/datastream.html'}= "数据流"
      %li
        %a{href: '/cn/docs/guides/data/datapoint.html'}= "数据点"
