.section-container.side-bar.accordion{:'data-section' => 'accordion'}
  %section.section
    %p.title
      %a{:href => "/cn/api/index.html"}
        = '概述'
  %section.section.products
    %p.title
      %a{:href => "/cn/api/products/index.html"}
        = '产品'
    .content
      %ul
        %li
          %a{:href => '/cn/api/products/list.html'}
            = '罗列'
        %li
          %a{:href => "/cn/api/products/create.html"}
            = '创建'
        %li
          %a{:href => "/cn/api/products/read.html"}
            = '读取'
        %li
          %a{:href => "/cn/api/products/update.html"}
            = '更新'
        %li
          %a{:href => "/cn/api/products/delete.html"}
            = '删除'
  %section.section.devices
    %p.title
      %a{:href => "/cn/api/devices/index.html"}
        = '设备'
    .content
      %ul
        %li
          %a{:href => '/cn/api/devices/list.html'}
            = '罗列'
        %li
          %a{:href => "/cn/api/devices/create.html"}
            = '创建'
        %li
          %a{:href => "/cn/api/devices/read.html"}
            = '读取'
        %li
          %a{:href => "/cn/api/devices/update.html"}
            = '更新'
        %li
          %a{:href => "/cn/api/devices/delete.html"}
            = '删除'
  %section.section.datastreams
    %p.title
      %a{:href => "/cn/api/datastreams/index.html"}
        = '数据流'
    .content
      %ul
        %li
          %a{:href => '/cn/api/datastreams/list.html'}
            = '罗列'
        %li
          %a{:href => "/cn/api/datastreams/create.html"}
            = '创建'
        %li
          %a{:href => "/cn/api/datastreams/read.html"}
            = '读取'
        %li
          %a{:href => "/cn/api/datastreams/update.html"}
            = '更新'
        %li
          %a{:href => "/cn/api/datastreams/delete.html"}
            = '删除'
  %section.section.datapoints
    %p.title
      %a{:href => "/cn/api/datapoints/index.html"}
        = '数据点'
    .content
      %ul
        %li
          %a{:href => '/cn/api/datapoints/list.html'}
            = '罗列'
        %li
          %a{:href => "/cn/api/datapoints/create.html"}
            = '创建'
        %li
          %a{:href => "/cn/api/datapoints/delete.html"}
            = '删除'
  %section.section.keys
    %p.title
      %a{:href => "/cn/api/keys/index.html"}
        = 'Key'
    .content
      %ul
        %li
          %a{:href => '/cn/api/keys/list.html'}
            = '罗列'
        %li
          %a{:href => "/cn/api/keys/create.html"}
            = '创建'
        %li
          %a{:href => "/cn/api/keys/read.html"}
            = '读取'
        %li
          %a{:href => "/cn/api/keys/update.html"}
            = '更新'
        %li
          %a{:href => "/cn/api/keys/delete.html"}
            = '删除'
