.section-container.side-bar.accordion{:'data-section' => 'accordion'}
  %section.section
    %p.title
      %a{:href => "/en/api/index.html"}
        = 'Overview'
  %section.section.products
    %p.title
      %a{:href => "/en/api/products/index.html"}
        = 'Products'
    .content
      %ul
        %li
          %a{:href => '/en/api/products/list.html'}
            = 'List'
        %li
          %a{:href => "/en/api/products/create.html"}
            = 'Create'
        %li
          %a{:href => "/en/api/products/read.html"}
            = 'Read'
        %li
          %a{:href => "/en/api/products/update.html"}
            = 'Update'
        %li
          %a{:href => "/en/api/products/delete.html"}
            = 'Delete'
  %section.section.devices
    %p.title
      %a{:href => "/en/api/devices/index.html"}
        = 'Devices'
    .content
      %ul
        %li
          %a{:href => '/en/api/devices/list.html'}
            = 'List'
        %li
          %a{:href => "/en/api/devices/create.html"}
            = 'Create'
        %li
          %a{:href => "/en/api/devices/read.html"}
            = 'Read'
        %li
          %a{:href => "/en/api/devices/update.html"}
            = 'Update'
        %li
          %a{:href => "/en/api/devices/delete.html"}
            = 'Delete'
  %section.section.datastreams
    %p.title
      %a{:href => "/en/api/datastreams/index.html"}
        = 'Datastreams'
    .content
      %ul
        %li
          %a{:href => '/en/api/datastreams/list.html'}
            = 'List'
        %li
          %a{:href => "/en/api/datastreams/create.html"}
            = 'Create'
        %li
          %a{:href => "/en/api/datastreams/read.html"}
            = 'Read'
        %li
          %a{:href => "/en/api/datastreams/update.html"}
            = 'Update'
        %li
          %a{:href => "/en/api/datastreams/delete.html"}
            = 'Delete'
  %section.section.datapoints
    %p.title
      %a{:href => "/en/api/datapoints/index.html"}
        = 'Datapoints'
    .content
      %ul
        %li
          %a{:href => '/en/api/datapoints/list.html'}
            = 'List'
        %li
          %a{:href => "/en/api/datapoints/create.html"}
            = 'Create'
        %li
          %a{:href => "/en/api/datapoints/read.html"}
            = 'Read'
        %li
          %a{:href => "/en/api/datapoints/update.html"}
            = 'Update'
        %li
          %a{:href => "/en/api/datapoints/delete.html"}
            = 'Delete'
  %section.section.keys
    %p.title
      %a{:href => "/en/api/keys/index.html"}
        = 'Key'
    .content
      %ul
        %li
          %a{:href => '/en/api/keys/list.html'}
            = 'List'
        %li
          %a{:href => "/en/api/keys/create.html"}
            = 'Create'
        %li
          %a{:href => "/en/api/keys/read.html"}
            = 'Read'
        %li
          %a{:href => "/en/api/keys/update.html"}
            = 'Update'
        %li
          %a{:href => "/en/api/keys/delete.html"}
            = 'Delete'
