- wrap_layout :cn do
  .sub-nav-bar
    .row
      .large-7.columns
        %h4
          %a{href: '/docs/index.html'}= '文档'
      %dl.sub-nav.large-5.columns
        %dd.nav-guides
          %a{href: '/docs/guides/index.html'}= 'API 使用指南'
        %dd.nav-refs
          %a{href: '/docs/refs/index.html'}= 'API 参考手册'
        %dd.nav-libraries
          %a{href: '/docs/libraries/index.html'}= 'SDK 文档'
  .row.main-content
    .large-3.columns.hide-for-small.sidebar
      = yield_content :sidebar
    .large-9.small-12.columns
      .right-content
        = yield

  - content_for :javascripts do
    :javascript
      $('li.nav-docs').addClass('active');
      $('.markdown h2').each(function(idx, elem) {
        var id = (idx + 1).toString() + '-' + $(elem).text().replace(/\s+/g, '-')
        var html = "<a href=#" + id + "><i class='fa fa-chain'></i></a>"
        $(this).prepend(html);
        $(this).addClass('subheader');
        return $(this).attr('id', id);
      });
