= wrap_layout 'cn' do
  .row.main-content
    .large-3.small-12.columns
      .hide-for-small
        .sidebar
          %nav
            %ul.side-nav
              %li.heading
                %i.fa.fa-globe
                = 'API'
              %li.nav-api-basic
                = link_to 'API 基础', '/v2/api/basic.html'
              %li.nav-api-database
                = link_to '数据库操作', '/v2/api/database.html'
              %li.nav-api-datastream
                = link_to '数据流操作', '/v2/api/datastream.html'
              %li.nav-api-datapoint
                = link_to '数据点操作', '/v2/api/datapoint.html'
              %li.nav-api-mapreduce
                = link_to 'MapReduce', '/v2/api/mapreduce.html'
              %li.nav-api-token
                = link_to 'Access Token 操作', '/v2/api/token.html'
              %li.divider
              %li.heading
                %i.fa.fa-cogs
                = '数据操作'
              %li.nav-data-concepts
                = link_to '相关概念', '/v2/data/concepts.html'
              %li.nav-data-dataaccess
                = link_to '数据存取', '/v2/data/dataaccess.html'
              %li.nav-data-dataprocessing
                = link_to '数据分析处理', '/v2/data/dataprocessing.html'
              %li.divider
              %li.heading
                %i.fa.fa-key
                = '权限控制'
              %li.nav-auth-overview
                = link_to '概述', '/v2/auth/overview.html'
              %li.nav-auth-authentication
                = link_to '认证', '/v2/auth/authentication.html'
              %li.nav-auth-authorization
                = link_to '授权', '/v2/auth/authorization.html'
              %li.divider
              %li.heading
                %i.fa.fa-coffee
                = 'MapReduce'
              %li.nav-mr-overview
                = link_to '概述', '/v2/mr/overview.html'
              %li.nav-mr-map
                = link_to 'Map', '/v2/mr/map.html'
              %li.nav-mr-reduce
                = link_to 'Reduce', '/v2/mr/reduce.html'
              %li.divider
              %li.heading
                %i.fa.fa-wrench
                = '管理界面'
              %li.nav-admin-account
                = link_to '帐号管理', '/admin/account.html'
              %li.nav-admin-db
                = link_to '数据库管理', '/admin/db.html'
              %li.divider
              %li.heading
                %i.fa.fa-rocket
                = 'API 客户端'
              %li.nav-libs-python
                = link_to 'Python', '/libs/python.html'
              %li.nav-libs-ruby
                = link_to 'Ruby', '/libs/ruby.html'
              %li.heading
                %a.button.primary{href: 'https://dashboard.dotide.com/login'}= '使用 Dotide'
    .large-9.small-12.columns
      .right-content
        - if content_for? :raw_content
          = yield_content :raw_content
        - else
          %h1= current_page.data.title
          %ol.toc
          .markdown= yield

  - content_for :second_nav do
    %ul.off-canvas-list
      %li
        %label= 'API'
      %li.nav-api-http
        = link_to 'HTTP API', '/v2/api/http/overview.html'
      %li.nav-api-protobuf
        = link_to 'Protobuf API', '/v2/api/protobuf/overview.html'
      %li
        %label= '数据操作'
      %li.nav-data-concepts
        = link_to '相关概念', '/v2/data/concepts.html'
      %li.nav-data-database
        = link_to '数据库操作', '/v2/data/database.html'
      %li.nav-data-datastream
        = link_to '数据流操作', '/v2/data/datastream.html'
      %li.nav-data-datapoint
        = link_to '数据点操作', '/v2/data/datapoint.html'
      %li.nav-data-dataprocessing
        = link_to '数据分析处理', '/v2/data/dataprocessing.html'
      %li
        %label= '认证与授权'
      %li.nav-auth-overview
        = link_to '概述', '/v2/auth/overview.html'
      %li.nav-auth-basic
        = link_to '认证', '/v2/auth/authentication.html'
      %li.nav-auth-token
        = link_to '授权', '/v2/auth/authorization.html'
      %li
        %label= 'MapReduce'
      %li.nav-mr-overview
        = link_to '概述', '/v2/mr/overview.html'
      %li.nav-mr-map
        = link_to 'Map', '/v2/mr/map.html'
      %li.nav-mr-reduce
        = link_to 'Reduce', '/v2/mr/reduce.html'
      %li
        %label= '管理界面'
      %li.nav-admin-account
        = link_to '帐号管理', '/admin/account.html'
      %li.nav-admin-db
        = link_to '数据库管理', '/admin/db.html'
      %li
        %label='API 客户端'
      %li.nav-libs-python
        = link_to 'Python', '/libs/python.html'
      %li.nav-libs-ruby
        = link_to 'Ruby', '/libs/ruby.html'

  - content_for :javascripts do
    :coffee
      $('li.nav-docs').addClass('active')
      $("li.nav-#{current_page.data.category}-#{current_page.data.section}").addClass('active')
    - if current_page.data.toc == 'article'
      :coffee
        h2_idx = 0
        h3_idx = 0
        toc = $('ol.toc')
        lnode = toc
        $('.markdown h2, .markdown h3').each ()->
          elem = $(this);
          hc = elem.text()
          if elem.prop('tagName') is 'H2'
            id = (h2_idx + 1).toString() + '-' + hc.replace(/\s+/g, '-')
            anchor = '<a href="#' + id + '"><i class="fa fa-chain"></i></a>'
            elem.prepend(anchor);
            elem.attr('id', id)
            toc_item = '<li><a href="#' + id + '">' + hc + '</a><ol></ol></li>'
            toc.append(toc_item)
            lnode = toc.children().last().children('ol')
            h2_idx += 1
          else
            id = (h2_idx + 1).toString() + '-' + (h3_idx + 1).toString() + '-' + hc.replace(/\s+/g, '-')
            anchor = '<a href="#' + id + '"><i class="fa fa-chain"></i></a>'
            elem.prepend(anchor);
            elem.attr('id', id)
            toc_item = '<li><a href="#' + id + '">' + hc + '</a></li>'
            lnode.append(toc_item)
            h3_idx += 1
    - if current_page.data.toc == 'section'
      :coffee
        $('.markdown ul ul').each ()->
          $(this).find('li a').each (idx, el)->
            elem = $(this)
            anchor = (idx + 1).toString() + '-' + elem.text().replace(/\s+/g, '-')
            base_link = elem.attr('href')
            link = base_link + '#' + anchor
            elem.attr('href', link)
