---
layout: cn
title: Dotide 开发者中心
---

.home
  .grayBox
    .row
      .large-8.columns
        %h4= "文档"
      .large-4.columns
        %h4= "更新日志"
  .row.main-content
    .large-8.columns
      .right-content
        .row.block-guides
          .large-12.columns
            %h1
              = 'API 使用指南'
            %h3#guides-basics.remove-border
              %small
                %i.fa.fa-book
                = '开发基础'
            %ul.inline-list
              %li
                %a{href: '/docs/guides/basics/concepts.html'}= "关键概念"
              %li
                %a{href: '/docs/guides/basics/data.html'}= '数据存取'
              %li
                %a{href: '/docs/guides/basics/programming-model.html'}= "编程模型"
              %li
                %a{href: '/docs/guides/basics/security.html'}= "安全机制"
          %hr
        .row.block-guides
          .large-12.columns
            %h1
              = 'API 参考手册'
            %h3#refs-auth.remove-border
              %small
                %i.fa.fa-book
                = '认证与授权'
            %ul.inline-list
              %li
                %a{href: '/docs/refs/basics/overview.html'}= "调用约定"
              %li
                %a{href: '/docs/refs/basics/auth.html'}= "认证与权限控制"
            %h3#refs-data
              %small
                %i.fa.fa-book
                = '数据存取'
            %ul.inline-list
              %li
                %a{href: '/docs/refs/data/datastream.html'}= "数据流"
              %li
                %a{href: '/docs/refs/data/datapoint.html'}= "数据点"
          %hr
        .row.block-guides
          .large-12.columns
            %h1
              = 'SDK'
            %h3#libraries-official.remove-border
              %small
                %i.fa.fa-book
                = '官方'
            %ul.inline-list
              %li
                %a{href: '/docs/libraries/ruby.html'}= "Ruby"
            %h3#libraries-community
              %small
                %i.fa.fa-book
                = '社区'
            %ul.inline-list
    .large-4.columns.news
      .right-content
        %ul
          %li
            %a{:href => "#"}
              = "文档第一版"
              %span= "2014-03-21"
          %p= "更新第一版"
          %li
            %a{:href => "#"}
              = "内测"
              %span= "2013-08-25"
          %p= "文档内测版"
