---
layout: cn
title: Dotide 开发者中心
---

.sub-nav-bar
  .row
    .large-8.columns
      %h4= "首页"
.row.main-content
  .large-9.columns
    .right-content
      .row.block-guides
        .large-12.columns
          %h1
            = 'API 使用指南'
          %h3#guides-basics.remove-border
            %small
              %i.fa.fa-book
              = '开发基础'
          %ul.inline-list
            %li
              %a{href: '/docs/guides/basics/concepts.html'}= "关键概念"
            %li
              %a{href: '/docs/guides/basics/data.html'}= '数据存取'
            %li
              %a{href: '/docs/guides/basics/programming-model.html'}= "编程模型"
            %li
              %a{href: '/docs/guides/basics/security.html'}= "安全机制"
        %hr
      .row.block-guides
        .large-12.columns
          %h1
            = 'API 参考手册'
          %h3#refs-auth.remove-border
            %small
              %i.fa.fa-book
              = '认证与授权'
          %ul.inline-list
            %li
              %a{href: '/docs/v1/basics/overview.html'}= "调用约定"
            %li
              %a{href: '/docs/v1/basics/auth.html'}= "认证与权限控制"
          %h3#refs-data
            %small
              %i.fa.fa-book
              = '数据存取'
          %ul.inline-list
            %li
              %a{href: '/docs/v1/data/datastream.html'}= "数据流"
            %li
              %a{href: '/docs/v1/data/datapoint.html'}= "数据点"
        %hr
      .row.block-guides
        .large-12.columns
          %h1
            = 'SDK 文档'
          %h3#libraries-official.remove-border
            %small
              %i.fa.fa-book
              = '官方'
          %ul.inline-list
            %li
              %a{href: '/docs/libraries/ruby.html'}= "Ruby"
          %h3#libraries-community
            %small
              %i.fa.fa-book
              = '社区'
          %ul.inline-list
  .large-3.columns.news
    .right-content
      %h3
        = '更新日志'
      %ul.no-bullet
        %li
          %a{href: '/changelog/index.html#p3'}
            = "全新开发者文档发布"
        %li
          %small= "2014-03-21"
        %li
          %a{href: '/changelog/index.html#p2'}
            = "API v0 内测上线"
        %li
          %small= "2013-08-25"
        %li
          %a{href: '/changelog/index.html#p1'}
            = "内测开发者文档上线"
        %li
          %small= "2013-08-23"
