---
layout: changelog.cn
title: 更新日志
---

.row.cell
  .large-12.columns
    %h2#p3
      %i.fa.fa-magic
      = '全新开发文档发布'
      %br
      %small
        %i.fa.fa-calendar
        = '2014-03-21'
    :markdown
      经过重新设计的开发文档宣布上线了。

      新版的开发文档除了原先的接口描述外，还包含了对概念的解释，示例，SDK等内容。具体来说，由 “API 使用指南”，“API 参考手册”，“SDK 文档”三部分组成。

      **API 使用指南** 部分，主要是关于开发基础的内容。包括：

      1. 对于 Dotide API使用过程中会碰到的关键概念的解释和描述；
      2. 数据存取的基础，如何对现实生活中需要存储的时序数据进行建模；
      3. 如何在自己的应用中使用 Dotide 的相关服务，如何设计应用架构；
      4. Dotide采取的安全机制，即权限控制机制。

      **API 参考手册** 部分，主要是对于 API v1 调用的详细描述。包含 Dotide 现有 API 的完整文档。
      相对 API v0，API v1 进行了非常大的改动。

      1. 专注做好时序数据服务，抛弃了 Product, Device 等多余概念，您可以直接创建存储时序数据的数据流。
      2. 对时序数据查询提供了复杂的查询功能。您可以对存储的原始数据点，按照时间间隔取点，取点方法多样，包括
      最大值，最小值，平均数等等多种方式。

      **SDK 文档** 部分，是各语言SDK的相关文档。目前 Dotide 官方 SDK 仅有 Ruby 语言版的。我们将在接下来的数周内发布 Python 版。如果您想帮我们开发其他语言的 SDK，我们将非常感激，
      并乐意为您提供帮助。
.row.cell
  .large-12.columns
    %h2#p2
      %i.fa.fa-magic
      = 'API v0 内测上线'
      %br
      %small
        %i.fa.fa-calendar
        = '2013-08-25'
    :markdown
      我们很高兴地宣布，Dotide 物联网数据服务 API v0 今天正式内测。

      API v0 的接口请参见我们的“开发者中心”。
.row.cell
  .large-12.columns
    %h2#p1
      %i.fa.fa-magic
      = '内测开发文档上线'
      %br
      %small
        %i.fa.fa-calendar
        = '2013-08-23'
    :markdown
      Dotide 内测开发文档今天上线了。

      内测文档主要是对 API v0 调用的详细描述。包含 Dotide 现有 API 的完整文档。

      API v0 包含物联网设备存取的基本模型，包含“产品”，“设备”，“数据流”，“数据点” 四层数据模型。

      每个产品包含多个设备，每个设备包含多条数据流。每条数据流存储数据点。

      例如，现实生活中，产品可能对应着 iPhone 2，设备对应着张三的 iPhone 2，数据流对应着 iPhone 的记步器
      数据点则对应着记步器记录的一个个数据点。

      随后，我们的 API 服务也即将上线，敬请期待。

- content_for :sidebar do
  %h3
    = '最近更新'
  %ul.no-bullet
    %li
      %a{:href => "#p3"}
        = "全新开发文档发布"
    %li
      %small= "2014-03-21"
    %li
      %a{:href => "#p2"}
        = "API v0 内测上线"
    %li
      %small= "2013-08-25"
    %li
      %a{:href => "#p1"}
        = "内测开发文档上线"
    %li
      %small= "2013-08-23"
