- wrap_layout 'api.cn' do
  = yield

  - content_for :breadcrumbs do
    = link_to '#', :class => 'current' do
      = 'Dotide DB'

  - content_for :sidebar do
    .section-container.accordion{:'data-section' => 'accordion'}
      %section.section.overview
        %p.title
          = link_to '/cn/api/dm/index.html' do
            = '概述'
      / %section.section.products
      /   %p.title
      /     = link_to '/cn/api/dm/products/index.html' do
      /       = '产品'
      /   .content
      /     %ul
      /       %li
      /         = link_to '/cn/api/dm/products/list.html' do
      /           = '罗列'
      /       %li
      /         = link_to '/cn/api/dm/products/create.html' do
      /           = '创建'
      /       %li
      /         = link_to '/cn/api/dm/products/read.html' do
      /           = '读取'
      /       %li
      /         = link_to '/cn/api/dm/products/update.html' do
      /           = '更新'
      /       %li
      /         = link_to '/cn/api/dm/products/delete.html' do
      /           = '删除'
      / %section.section.devices
      /   %p.title
      /     = link_to '/cn/api/dm/devices/index.html' do
      /       = '设备'
      /   .content
      /     %ul
      /       %li
      /         = link_to '/cn/api/dm/devices/list.html' do
      /           = '罗列'
      /       %li
      /         = link_to '/cn/api/dm/devices/create.html' do
      /           = '创建'
      /       %li
      /         = link_to '/cn/api/dm/devices/read.html' do
      /           = '读取'
      /       %li
      /         = link_to '/cn/api/dm/devices/update.html' do
      /           = '更新'
      /       %li
      /         = link_to '/cn/api/dm/devices/delete.html' do
      /           = '删除'
      %section.section.datastreams
        %p.title
          = link_to '/cn/api/dm/datastreams/index.html' do
            = '数据流'
        .content
          %ul
            %li
              = link_to '/cn/api/dm/datastreams/list.html' do
                = '罗列'
            %li
              = link_to '/cn/api/dm/datastreams/create.html' do
                = '创建'
            %li
              = link_to '/cn/api/dm/datastreams/read.html' do
                = '读取'
            %li
              = link_to '/cn/api/dm/datastreams/update.html' do
                = '更新'
            %li
              = link_to '/cn/api/dm/datastreams/delete.html' do
                = '删除'
      %section.section.datapoints
        %p.title
          = link_to '/cn/api/dm/datapoints/index.html' do
            = '数据点'
        .content
          %ul
            %li
              = link_to '/cn/api/dm/datapoints/list.html' do
                = '罗列'
            %li
              = link_to '/cn/api/dm/datapoints/create.html' do
                = '创建'
            %li
              = link_to '/cn/api/dm/datapoints/delete.html' do
                = '删除'
      / %section.section.keys
      /   %p.title
      /     = link_to '/cn/api/dm/keys/index.html' do
      /       = 'Key'
      /   .content
      /     %ul
      /       %li
      /         = link_to '/cn/api/dm/keys/list.html' do
      /           = '罗列'
      /       %li
      /         = link_to '/cn/api/dm/keys/create.html' do
      /           = '创建'
      /       %li
      /         = link_to '/cn/api/dm/keys/read.html' do
      /           = '读取'
      /       %li
      /         = link_to '/cn/api/dm/keys/update.html' do
      /           = '更新'
      /       %li
      /         = link_to '/cn/api/dm/keys/delete.html' do
      /           = '删除'
