- wrap_layout 'api.cn' do
  = yield

  - content_for :breadcrumbs do
    = link_to '#', :class => 'current' do
      = '触发器'

  - content_for :sidebar do
    .section-container.accordion{:'data-section' => 'accordion'}
      %section.section.active
        %p.title
          = link_to '#' do
            = '触发器'
        .content
          %ul
            %li.overview
              = link_to '/cn/api/trigger/overview.html' do
                = '概述'
            %li.list
              = link_to '/cn/api/trigger/list.html' do
                = '罗列'
            %li.create
              = link_to '/cn/api/trigger/create.html' do
                = '创建'
            %li.read
              = link_to '/cn/api/trigger/read.html' do
                = '读取'
            %li.update
              = link_to '/cn/api/trigger/update.html' do
                = '更新'
            %li.delete
              = link_to '/cn/api/trigger/delete.html' do
                = '删除'

