---
layout: docs/refs.cn
section: refs
page: index
title: API 参考手册
---

- content_for :raw_content do
  .row.block-guides
    .large-12.columns
      %h1= 'API 参考手册'
      %hr
      %h3#refs-basics.remove-border
        %small
          %i.fa.fa-book
          = '调用基础'
      %ul.inline-list
        %li
          %a{href: '/docs/v1/basics/overview.html'}= "调用约定"
        %li
          %a{href: '/docs/v1/basics/auth.html'}= "认证与权限控制"
      %h3#refs-data
        %small
          %i.fa.fa-book
          = '数据存取'
      %ul.inline-list
        %li
          %a{href: '/docs/v1/data/datastream.html'}= "数据流"
        %li
          %a{href: '/docs/v1/data/datapoint.html'}= "数据点"
