.api
  .api-header
    .page-title
      %h2
        = 'API 服务'
  .api-content
    .row
      .large-3.columns
        = partial "layouts/cn_sidebar"
      .large-8.columns.large-offset-1
        %p
          = '本文档描述的所有API请求均基于HTTP协议，请求地址为：http://api.dotide.com/v1 。'
        %pre.terminal
          %p= '$ curl -i http://api.dotide.com/v1'
          %br
          %p= 'HTTP/1.1 200 OK'
          %p= 'Content-Type: application/json'
          %p= 'Content-Length: 15'
          %p= 'Date: Mon, 19 Aug 2013 07:30:09 GMT'
          %p= 'X-Rack-Cache: miss'
          %p= 'Server: nginx'
          %p= 'Connection: Keep-Alive'
        %p= '你需要在请求头部附上ApiKey(YOUR_APIKEY)'
        %p= '无论是发送请求还是接受响应，所有数据均以JSON传输。'
        %p= '所有时间戳均以ISO 8601格式返回:'
        %pre.code
          %p= 'YYYY-MM-DDTHH:MM:SSZ'
        %ul.api-list
          %li
            %a{:href => "/cn/api/products/index.html"}
              = '产品'
          %li
            %a{:href => "/cn/api/devices/index.html"}
              = '设备'
          %li
            %a{:href => "/cn/api/datastreams/index.html"}
              = '数据流'
          %li
            %a{:href => "/cn/api/datapoints/index.html"}
              = '数据点'
          %li
            %a{:href => "/cn/api/keys/index.html"}
              = 'Keys'
