.api
  .api-header
    .page-title
      %h2
        = 'API 服务'
  .api-content
    .row
      .large-3.columns
        = partial "layouts/sidebar"
      .large-8.columns.large-offset-1
        %p
          = 'All API access is over HTTP and accessed from the http://api.dotide.com/v1.'
        %pre.terminal
          %p= '$ curl -i http://api.dotide.com/v1'
          %br
          %p= 'HTTP/1.1 200 OK'
          %p= 'Content-Type: application/json'
          %p= 'Content-Length: 15'
          %p= 'Date: Mon, 19 Aug 2013 07:30:09 GMT'
          %p= 'X-Rack-Cache: miss'
          %p= 'Server: nginx'
          %p= 'Connection: Keep-Alive'
        %p= 'You need to add ApiKey(YOUR_APIKEY) to the header of your require.'
        %p= 'All data is sent and received as JSON.'
        %p= 'All timestamps are returned in ISO 8601 format:'
        %pre.code
          %p= 'YYYY-MM-DDTHH:MM:SSZ'
        %ul.api-list
          %li
            %a{:href => "/cn/api/products/index.html"}
              = 'Products'
          %li
            %a{:href => "/cn/api/devices/index.html"}
              = 'Devices'
          %li
            %a{:href => "/cn/api/datastreams/index.html"}
              = 'Datastreams'
          %li
            %a{:href => "/cn/api/datapoints/index.html"}
              = 'Datapoints'
          %li
            %a{:href => "/cn/api/keys/index.html"}
              = 'Keys'
