---
layout: cn
title: API文档
---

.row
  .small-12.columns
    %h2= 'API文档'
.row.api-index
  .small-12.columns
    %ul.large-block-grid-3
      %li
        = link_to '/cn/api/base/index.html' do
          %h3= 'API基础'
          %p= 'Dotide API的调用基础，包含请求规则，认证，测试工具等内容。'
      %li
        = link_to '/cn/api/dm/index.html' do
          %h3= '数据存取'
          %p= 'Dotide的基础服务，包含基础数据类型的说明与存取接口描述。'

- content_for :footer do
  %footer.footer
    .row
      .small-12.large-6.columns
        %ul
          %li
            = link_to 'http://help.dotide.com/cn/categories/products-services.html' do
              = '产品与服务'
          %li
            = link_to 'http://developer.dotide.com/cn/index.html' do
              = '开发者中心'
          %li
            = link_to 'http://help.dotide.com/cn/articles/jobs.html' do
              = '招贤纳士'
          %li
            = link_to 'http://help.dotide.com/cn/articles/contactus.html' do
              = '联系我们'
      .small-12.large-6.columns
        %ul.right
          %li= "© #{Date.today.year} Dotide"
          %li
            = link_to 'http://www.miibeian.gov.cn/index.html', :class => 'beian' do
              = '苏ICP备12071270号'
