- wrap_layout 'docs.cn' do
  - if current_page.data.page != 'index'
    %h1= current_page.data.title
  - if current_page.data.outlines
    %ul.toc
      - current_page.data.outlines.each_with_index do |o, i|
        %li
          %a{href: "#para-#{i}"}= o
  - if content_for? :raw_content
    = yield_content :raw_content
  - else
    .markdown= yield

  - content_for :sidebar do
    %dl.accordion{:'data-accordion' => true}
      %dd
        %a{href: '#basics'}
          %i.fa.fa-plus-square
          = '开发基础'
        #basics.content
          %ul.side-nav
            %li.nav-concepts
              %a{href: '/docs/guides/basics/concepts.html'}
                %span
                  = "关键概念"
            %li.nav-data
              %a{href: '/docs/guides/basics/data.html'}
                %span
                  = '数据存取'
            %li.nav-programming-model
              %a{href: '/docs/guides/basics/programming-model.html'}
                %span
                  = "编程模型"
            %li.nav-security
              %a{href: '/docs/guides/basics/security.html'}
                %span
                  = "安全机制"

  - content_for :second_nav do
    %ul.off-canvas-list
      %li
        %label= '开发基础'
      %li.nav-concepts
        %a{href: '/docs/guides/basics/concepts.html'}= "关键概念"
      %li.nav-data
        %a{href: '/docs/guides/basics/data.html'}= '数据存取'
      %li.nav-programming-model
        %a{href: '/docs/guides/basics/programming-model.html'}= "编程模型"
      %li.nav-security
        %a{href: '/docs/guides/basics/security.html'}= "安全机制"

  - content_for :javascripts do
    :javascript
      $('dd.nav-guides').addClass('active');
      $("##{current_page.data.section}").addClass('active');
      $("##{current_page.data.section}").parent().addClass('active');
      $("li.nav-#{current_page.data.page}").addClass('active');
      $('.markdown h2').each(function(idx) {
        html = "<a href=#para-" + idx + "><i class='fa fa-chain'></i></a>"
        $(this).prepend(html);
        $(this).addClass('subheader');
        return $(this).attr('id', "para-" + idx);
      });
