- wrap_layout 'docs.cn' do
  - if current_page.data.page != 'index'
    .gray-bg
      %h1= current_page.data.title
  - if current_page.data.outlines
    .gray-bg
      %ul.toc
        - current_page.data.outlines.each_with_index do |o, i|
          %li
            %a{href: "#para-#{i}"}= o
  - if content_for? :raw_content
    = yield_content :raw_content
  - else
    .markdown= yield

  - content_for :sidebar do
    %dl.accordion{:'data-accordion' => true}
      %dd
        %a{href: '#official'}= '官方'
        #official.content
          %ul.side-nav
            %li.nav-ruby
              %a{href: '/cn/docs/libraries/ruby.html'}= "Ruby"
      %dd
        %a{href: '#community'}= '社区'
        #community.content
          %ul.side-nav

  - content_for :second_nav do
    %ul.off-canvas-list
      %li
        %label= '官方'
      %li.nav-ruby
        %a{href: '/cn/docs/libraries/ruby.html'}= "Ruby"
      %li
        %label= '社区'

  - content_for :javascripts do
    :javascript
      $('dd.nav-libraries').addClass('active');
      $("##{current_page.data.section}").addClass('active');
      $("##{current_page.data.section}").parent().addClass('active');
      $("li.nav-#{current_page.data.page}").addClass('active');
      $('.markdown h2').each(function(idx) {
        $(this).prepend('<i class="fa fa-bookmark-o"></i>');
        $(this).addClass('subheader');
        return $(this).attr('id', "para-" + idx);
      });
