---
layout: docs/refs.cn
section: refs
page: index
title: API参考手册
---

.row.block-guides
  .large-12.columns
    %h3= 'API参考手册'
    %h3#refs-auth
      %small
        %i.fa.fa-book
        = '认证与授权'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/refs/auth/basic-auth.html'}= "Basic"
      %li
        %a{href: '/cn/docs/refs/auth/oauth.html'}= "OAuth"
    %h3#refs-data
      %small
        %i.fa.fa-book
        = '数据存取'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/refs/data/datastream.html'}= "数据流"
      %li
        %a{href: '/cn/docs/refs/data/datapoint.html'}= "数据点"
    %hr/
