---
layout: docs/refs.cn
section: refs
page: index
title: API参考手册
---

.row.block-guides
  .large-12.columns
    %h3= 'API参考手册'
    %h3#refs-basics
      %small
        %i.fa.fa-book
        = '调用基础'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/refs/basics/overview.html'}= "调用约定"
      %li
        %a{href: '/cn/docs/refs/basics/auth.html'}= "认证与权限控制"
    %h3#refs-data
      %small
        %i.fa.fa-book
        = '数据存取'
    %ul.inline-list
      %li
        %a{href: '/cn/docs/refs/data/datastream.html'}= "数据流"
      %li
        %a{href: '/cn/docs/refs/data/datapoint.html'}= "数据点"
    %hr/
