---
title: Dotide开发者中心
---

.main-content
  %h2= "开发者中心"
  %ul.large-block-grid-3.block-list
    %li
      %i.icon-book
      .item-content
        %h3
          = link_to "快速上手", '/cn/tutorial/index.html'
        %p= "通过一个示例快速了解Dotide。"
    %li
      %i.icon-sitemap
      .item-content
        %h3
          = link_to "工作流", '/cn/workflow/index.html'
        %p= "Dotide提供一套工作流机制，方便由产品原型开发到产品发布、应用上线以及持续开发更新等。"
    %li
      %i.icon-cogs
      .item-content
        %h3
          = link_to "SDK", '/cn/sdk/index.html'
        %p= "Dotide提供丰富的SDK，帮助开发者更好地使用我们的服务。这些SDK涵盖多种语言和平台。"
    %li
      %i.icon-cloud
      .item-content
        %h3
          = link_to "API服务", '/cn/api/index.html'
        %p= "提供RESTFul风格的API，用于实现设备与云端的交互以及数据存取的统一接口，支持HTTP/Socket多种协议。"
    %li
      %i.icon-question
      .item-content
        %h3
          = link_to "FAQ", '/cn/faq/index.html'
        %p= "常见问题集合。"
