---
title: Dotide开发者中心
---
.homepage-head
  .row
    %ul.large-block-grid-2
      %li
        %h1= "Dotide开发者中心"
        %p.intro= "加速你的物联网应用开发。"
        %p.intro= "通过示例快速了解如何利用Dotide开发你的物联网应用；或通过指南和参考文档，了解Dotide产品使用细节。"
      %li
        = image_tag 'page-head.png'
.homepage-body
  .row
    %ul.large-block-grid-4
      %li
        %h3
          %i.fa.fa-rocket
          = link_to "快速上手", '/cn/tutorial/index.html'
        %p= "通过几个示例快速了解如何利用Dotide开发你的物联网应用。"
      %li
        %h3
          %i.fa.fa-flask
          = link_to "使用指南", '/cn/guides/index.html'
        %p= "帮助你进一步了解Dotide产品服务的方方面面。"
      %li
        %h3
          %i.fa.fa-book
          = link_to "参考文档", '/cn/refs/index.html'
        %p= "关于SDK和Web Service的完整参考文档。"
      %li
        %h3
          %i.fa.fa-comments
          = link_to "反馈建议", 'https://github.com/dotide/Feedback-cn/issues'
        %p= "您遇到了什么问题？您期待什么改进或者新功能？请让我们知道。"

- content_for :footer do
  %footer.homepage-footer
